//
// Prototype styles (using the Sass CSS preprocessor)
//

//
// First, we're importing the design system from the npm package
//
$static-font-path: '/assets/fonts/webfonts';

@import 'node_modules/@salesforce-ux/design-system/scss/index';

//
// Then, we're importing some styles via Sass partials (filenames starting with a "_")
//
@import 'footer';

//
// We can also add styles directly in this file, like so:
//
.slds-card__footer {
  margin-top: 0rem;
}
.slds-card__body {
  margin-bottom: 0rem;
}

.slds-brand-band {

  &:before {
    background-image:
      url($brand-band-default-image),
      linear-gradient(to top, $brand-background-dark-transparent 0, rgba(27,95,158, 1.0));
  }

  &:after {
    background-image: linear-gradient(to bottom, $brand-background-primary-transparent 60%, rgba(176, 196, 223, 1.0));
  }
}

html {
  background: rgba(176, 196, 223, 1.0);
}

// Push down the global navigation below the header using a placeholder element
.app-header-placeholder {
  // A note on Design Tokens in Sass:
  //
  // $height-header is a Sass variable pointing to a Design Token
  // Design tokens are listed at:
  // https://www.lightningdesignsystem.com/design-tokens/
  //
  // This is how you leverage Design Tokens in Sass:
  height: $height-header;
}

// Wrap the prototype in a scrollable container
.app-wrapper {
  overflow: auto;
  position: absolute;
  -webkit-overflow-scrolling: touch;
  top: $height-context-bar + $height-header;
  bottom: 0;
  right: 0;
  left: 0;
}

